* {
    box-sizing: border-box;}
	
html {
	background: #FCFCFF; 
}

body {
	margin:0;
	background: #FCFCFF; 
}

.wraper {
	justify-content: space-around;
    width: 100%;
    min-width: 430px;
    max-width: 1200px;
	margin: 0 auto;
	flex-grow: 1;
	margin-bottom: 10px;
}

.border2 {
	border-bottom: 2px #B0C4DE solid;	
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.nav1 a{
	font-size:  5rem;
	font-family: Wire One;
	text-decoration: none;
	color: #3B4754;
}
	
.nav2 a{
	font-family: Raleway;
	font-size:  1.4rem;
	font-weight: lighter;
	text-decoration: none;
	color: #3B4754;
}

.logo {
	height: 35px;
    width: 35px;
}

h2 {
	color: #3B4754;
	font-family: Raleway;
	text-align: center;
	font-size:  2.2rem;
	text-decoration: none;
	font-weight: lighter;
	margin-top: 40px;
}

h3 {
	color: #3B4754;
	font-family: Raleway;
	font-size:  1.9rem;
	text-decoration: none;
	font-weight: lighter;
}

.text1 {
	font-family: Raleway;
	font-size:  1.1rem;
	font-weight: lighter;
	color: #3B4754;
	text-align: center;
	padding: 0px 120px 0px 120px;
	margin-bottom: 40px;
}

.text2 {
	font-family: Raleway;
	font-size:  1.1rem;
	font-weight: lighter;
	color: #3B4754;
}

.bluebg{
	background: #D2DEED;
	padding-top: 40px;
	margin-top: 15px;
	margin-bottom: 40px;
}

.whitebg1 {
	background: #FCFCFF; 
	border-radius: 4px 0px 0px 4px;
	padding: 30px;
}

.whitebg2 {
	background: #FCFCFF; 
	border-radius: 0px 4px 4px 0px;
	padding: 30px 30px 30px 0px;
}

.wrapper {
	display: grid;
    grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.prespace {
	white-space: pre;
}

.marg {
	margin-top: 40px;
}

.pic {
	height: 400px;
    width: 400px;
}

.cardleft {
	justify-self: end;
	margin: 0px 0px 40px 0px;
	padding-right: 40px;
}

.opis {
	height: 460px;
    width: 450px;
	text-align: right;
	
}



.form{
	height: 510px;
    width: 700px;
	border: 2px #B0C4DE solid;
	border-radius: 13px;
	padding: 15px 30px 15px 30px;
	margin: 0 auto;
}

.hh3 {
	color: #3B4754;
	font-family: Raleway;
	font-size:  1.9rem;
	text-decoration: none;
	font-weight: lighter;
	padding-bottom: 20px;
}


.but {
	background: #D2DEED;
	font-family: Raleway;
	font-size:  1.1rem;
	font-weight: lighter;
	color: #3B4754;
	border: 2px #D2DEED solid;
	border-radius: 13px;
	height: 45px;
    width: 137px;
}

.but:hover {
	background: #3B4754;
	font-family: Raleway;
	font-size:  1.1rem;
	font-weight: lighter;
	color: #D2DEED;
	border: 2px #3B4754 solid;
	border-radius: 13px;
	height: 45px;
    width: 137px;
}


footer {
	margin-top: 40px;
	text-align: center;
	background: #FCFCFF;
	height: 65px;
	border-top: 2px #B0C4DE solid;
}

.footmain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 160px 15px 160px;
	width: 100%;
    min-width: 430px;
    max-width: 1200px;
	margin: 0 auto;
	font-size:  0.9rem;
	font-family: Raleway;
	font-weight: lighter;
}

.footlogo {
	justify-content: space-between;
	color: 3B4754;
}

.logo2 {
	height: 30px;
    width: 30px;
}